@charset "utf-8";
/* CSS Document */

html {
	min-height: 100%;
	min-width: 1024px;
}

body { 
	overflow-x: hidden; /*não mostrar barra de rolagem horizontal*/
}


/* Menu */
.nav .container {
    background-color: #0069A0;
    position: relative;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 6px;

}

.nav a {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.nav a:hover {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.nav li {
    display: inline;
}

.nav ul li:hover > ul {
    display: block;
}
 /*End Menu*/
 
  
.background {
	background-repeat: no-repeat;
	background-size:cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background: cover;
}

.texto {
	position: absolute; 
  	top: 100px; 
	left: 10px;
		
}

h4 {
	font-size: 23px;
}




/*Formulário*/

#nome {
	border-radius: 5px;
	background-color: #C7C7C7;
	border-bottom-color: rgb(245, 246, 250);
	border-bottom-style: solid;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
	line-height: 18.2px;
}

#email {
	border-radius: 5px;
	background-color: #C7C7C7;
	border-bottom-color: rgb(245, 246, 250);
}

#assunto {
	border-radius: 5px;
	background-color: #C7C7C7;
	border-bottom-color: rgb(245, 246, 250);
}

#mensagem {
	border-radius: 5px;
	background-color: #C7C7C7;
	border-bottom-color: rgb(245, 246, 250);
}


.button {
  font-size: 1em;
  padding: 6px;
  background: #AAAAAA;
  border: 1px solid #BABABA;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.contatos {
	padding-left: 100px;
	padding-top: 20px;
}

.formulario { 
	padding-right: 100px;
	padding-top: 30px;
}




/*Footer*/

.rodape {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #CBCBCB;
	position: absolute;
	width: 100%;
	clear: both;
	height: 70px;
}


.barra {
	padding-top: 10px;
	background-color: #CC041C;
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0px;

}
  
 /*REDES SOCIAIS*/
  
.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 1,5em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    right: auto;
}


/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
    font-family: "FontAwesome";
    content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
    color: #00ABE3;
    background: #fff;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
    font-family: "FontAwesome";
    content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
    color: #e64522;
    background: #fff;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
    font-family: "FontAwesome";
    content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
    color: #0094BC;
    background: #fff;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
    font-family: "FontAwesome";
    content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
    color: #cb2027;
    background: #fff;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
    font-family: "FontAwesome";
    content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
    color: #3a5876;
    background: #fff;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
    font-family: "FontAwesome";
    content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
    color: #e88845;
    background: #fff;
}
/*End Redes Sociais*/
	
