@charset "utf-8";
/* CSS Document */


.col-md-4 {
	width: 200px;
	height: 100px;
}

.thumbnail {
	margin: 1px;
	background-color: #B3B0B0;
}

.thumbnail img { 
	margin: 0 auto;
	display: block;
}

 display:block;
            height:200px;
            width:200px;
            overflow:hidden;
            margin:auto;